.book-list-item {
    background-color: #62efff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    margin: 0px auto 4px auto;
    padding: 8px;
    width: 325px;
    display: flex;
}

.item-param {
    display: block;
}
